@use "../../Assets//Colors/colors" as c;
.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: c.$black;
  color: c.$white;
  z-index: 9999;

  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: c.$white;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }

  .brand-name {
    margin-left: 1rem;
  }
  .navigation-menu {
    margin-left: auto;

    ul {
      display: flex;
      padding: 0;

      li {
        list-style-type: none;
        margin: 0 1rem;
        // border-right: 2px solid c.$white;
        // padding-right: 2rem;

        // &:last-child {
        //   border-right: none;
        // }

        a {
          text-decoration: none;
          display: block;
          width: 100%;
          color: c.$white;

          &:hover {
            color: c.$red;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
    .navigation-menu {
      ul {
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: c.$black;
        display: none;

        li {
          text-align: center;
          margin: 0;

          &:hover {
            background-color: c.$red;
          }
          a {
            color: c.$white;
            width: 100%;
            padding: 1.5rem 0;

            &:hover {
              color: c.$white;
            }
          }
        }
      }
    }
  }
  .navigation-menu.expanded {
    ul {
      display: block;
    }
  }
}
