@use "../../../../Assets//Colors//colors" as c;

.newsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 2rem;
  padding: 1rem 4rem;

  .newsCard {
    &:hover {
      h3 {
        color: c.$red;
        font-weight: bold;
      }
      p {
        opacity: 1;
        transform: translateY(-10px);
      }
    }
    overflow: hidden;
    border-radius: 5px;
    background-color: c.$white;
    box-shadow: 10px 10px 8px c.$dark-grey;

    img {
      margin: auto;

      height: auto;
      max-height: 100%;

      width: 100%;
    }

    h3 {
      font-size: 1.1rem;
      font-family: "Open-sans", sans-serif;
      margin: 1rem;
      font-weight: 600;
      text-align: center;
    }
    p {
      margin: 1rem;
      font-size: 0.9rem;
      text-align: center;
      opacity: 0;
      transition: 0.6s;
      transition-property: opacity, transform;
    }
  }
}

@media (max-width: 900px) {
  .newsContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .newsContainer {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
